<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <head >

        <meta charset="utf-8"/>

        <title> Formulario de Acceso </title>    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito;display=swap" rel="stylesheet"/> 
        <link href="https://fonts.googleapis.com/css?family=Overpass;display=swap" rel="stylesheet"/>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <style type="text/css">
            .divider:after,
            .divider:before {
                content: "";
                flex: 1;
                height: 1px;
                background: #eee;
            }
            .h-custom {
                height: calc(100% - 73px);
            }
            @media (max-width: 450px) {
                .h-custom {
                    height: 100%;
                }
            }
        </style>

    </head>

    <h:body>
        <section class="vh-100">
            <div class="container-fluid h-custom" style="background: #000">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                             class="img-fluid" alt="Sample image"/>
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <h:form id="loginform" >
                            
                            
                            <div class="divider d-flex align-items-center my-4">
                                <p style="color: #ffffff" class="text-center fw-bold mx-3 mb-0">Ingresar al Sistema</p>
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <p:inputText id="form3Example3" class="form-control form-control-lg"
                                             ></p:inputText>
                                <label style="color: #ffffff" class="form-label" for="form3Example3">Usuario</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <p:inputText id="form3Example4" class="form-control form-control-lg"
                                             ></p:inputText>
                                <label style="color: #ffffff" class="form-label" for="form3Example4">Contraseña</label>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Checkbox -->
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                    <label style="color: #ffffff" class="form-check-label" for="form2Example3">
                                        Recuerdame
                                    </label>
                                </div>
                                <a  href="#!" style="color: #ffffff"  >Olvidó su contraseña ?</a>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <p:commandButton class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                                                 value="Login"  action="#{loginBean.usuarioValido()}"
                                                 >
                                </p:commandButton>
                                <p class="small fw-bold mt-2 pt-1 mb-0" style="color: #ffffff">Aún no está registado? <a href="#!"
                                                                                                                         class="link-danger">Registrarse </a></p>
                            </div>

                        </h:form>
                    </div>
                </div>
            </div>
            <div
                class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
                <!-- Copyright -->
                <div class="text-white mb-3 mb-md-0">
                    Sistema de Gestion . Version 1.0.0
                </div>
                <!-- Copyright -->

                <!-- Right -->
               
                <!-- Right -->
            </div>

        </section>
    </h:body>
</html>
