<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Compra</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <p:fieldset legend="Solicitud de compra" style="color: #ffffff">
                        <p:panelGrid  columns="2" layout="grid">
                            <p:panelGrid  columns="2" layout="grid">
                                <h:panelGrid>
                                    <h:panelGrid  columns="1" >
                                        <p:outputLabel value=" Alto (cm) : "></p:outputLabel>
                                        <p:spinner min="0" value=""></p:spinner >
                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGroup>
                                    <h:panelGrid  columns="1" >
                                        <p:outputLabel value=" Largo (cm) : "></p:outputLabel>
                                        <p:spinner min="0" value=""></p:spinner >
                                    </h:panelGrid>
                                </h:panelGroup>
                            </p:panelGrid>
                            <h:panelGroup>
                                <p:panelGrid  columns="1" layout="grid">
                                    <p:outputLabel value=" Imagen de referencia : "></p:outputLabel>
                                    <h:panelGroup>
                                        <h:panelGrid columns="2">
                                            <p:fileUpload title="Seleccionar" label="Seleccionar" chooseButtonTitle="Seleccionar" value="#{fileUploadView.file}" mode="simple" skinSimple="true"/>
                                            <p:commandButton value="Submit" ajax="false" style="background-color: #000;color: #ffffff"
                                                             action="#{fileUploadView.upload}" 
                                                             styleClass="mt-3 ui-button-outlined block"/>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                            </h:panelGroup>


                        </p:panelGrid>
                        <p:panelGrid  columns="2" layout="grid">
                            <h:panelGroup>
                                <p:panelGrid  columns="1" layout="grid">
                                    <p:outputLabel value=" Color : "></p:outputLabel>
                                    <p:selectOneMenu id="group" value="#{selectOneMenuView.countryGroup}">
                                        <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                        <f:selectItems value="#{selectOneMenuView.countriesGroup}"/>
                                    </p:selectOneMenu>
                                </p:panelGrid>

                            </h:panelGroup>
                            <h:panelGroup>
                                <p:panelGrid  columns="1" layout="grid">
                                    <p:outputLabel value=" Zona a tatuar : "></p:outputLabel>
                                    <p:selectOneMenu id="group1" value="#{selectOneMenuView.countryGroup}">
                                        <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                        <f:selectItems value="#{selectOneMenuView.countriesGroup}"/>
                                    </p:selectOneMenu>
                                </p:panelGrid>
                            </h:panelGroup>
                        </p:panelGrid>

                        <div align="center"  style="margin-top: 20px">
                            <p:commandButton value="Generar presupuesto"  style="background-color: #000;color: #ffffff"
                                             action="#{fileUploadView.upload}" 
                                             styleClass="mt-3 ui-button-outlined block"/>
                        </div>
                        <p:panelGrid columns="2" layout="grid">
                            <p:panelGrid columns="2" layout="grid">
                                <h:panelGroup>
                                    <h:panelGrid  columns="1" >
                                        <p:outputLabel value=" Cantidad estimada (hs) : "></p:outputLabel>
                                        <p:spinner disabled="true" min="0" value=""></p:spinner >
                                    </h:panelGrid>
                                </h:panelGroup>
                            </p:panelGrid>
                            <p:panelGrid columns="2" layout="grid">
                                <h:panelGroup>
                                    <h:panelGrid  columns="1" >
                                        <p:outputLabel value=" Costo por hora : "></p:outputLabel>
                                        <p:spinner disabled="true" min="0" value=""></p:spinner >
                                    </h:panelGrid>
                                </h:panelGroup>
                            </p:panelGrid>
                            <p:panelGrid columns="2" layout="grid">
                                <h:panelGroup>
                                    <h:panelGrid  columns="1" >
                                        <p:outputLabel value=" Costo de seña : "></p:outputLabel>
                                        <p:spinner disabled="true" min="0" value=""></p:spinner >
                                    </h:panelGrid>
                                </h:panelGroup>
                            </p:panelGrid>
                            <p:panelGrid columns="2" layout="grid">
                                <h:panelGroup>
                                    <h:panelGrid  columns="1" >
                                        <p:outputLabel value=" Costo total : "></p:outputLabel>
                                        <p:spinner disabled="true" min="0" value=""></p:spinner >
                                    </h:panelGrid>
                                </h:panelGroup>
                            </p:panelGrid>
                        </p:panelGrid>
                    </p:fieldset>

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
